body, html {
    font-family: "Lato", sans-serif;
    height: 100%
  }
  
  sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 30, 98);
    overflow-x: hidden;
    padding-top: 20px;
  }
  sidenav img{
   
    padding-left: 11px;
  }
  
  sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #efecec;
    display: block;
  }
  
  sidenav a:hover {
    color: #ab2d2d;
  }
  /* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 140px;
    /* background-color: #111; */
  }
  
  /* Control the right side */
  .right {
    right: 0;
    /* background-color: red; */
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  /* .centered img {
    width: 150px;
    border-radius: 50%;
  } */
  bg-img {
    width: 100%;
    height: auto;
    background-image: url('4880206.jpg');
  }
  .viz-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .svg3 {
    display: block;
    width: 20%;
    margin: 25px auto;
    border: 1px solid grey;
    stroke: #006600;
  }
  #buttons polygon:hover {
    fill: orange;
  }
  .svg1 circle:hover {
    fill: rgb(175, 164, 8)
  }
  #buttons rect:hover {
    fill: blue
  }
  #center {
    fill: #00cc00;
  }
  #top {
    fill: #cc3333;
  }
  #right {
    fill: #663399;
  }
  #left {
    fill: #bada55;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}
  #star {
    animation: spin 6s linear infinite;
    padding-top: 0px;

}
#stop{
  padding-bottom: 0px;
}
  main{
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }